include  ../../users/dashboard
// Content Wrapper. Contains page content
.content-wrapper
    // Content Header (Page header)
    section.content-header
        h1
            | Data Mata Pelajaran;
            if (session_store.admin == true)
                div(style="display:inline-block;margin-right:10px;")
                    a(href='/inputmata_pelajaran').btn.btn-success
                        h5 Tambah Data Mata Pelajaran
        ol.breadcrumb
            li
                a(href='#')
                    i.fa.fa-dashboard
                    |  Home
            li
                a(href='#') Tables
            li.active Data tables
    // Main content
    section.content
        .row
            .col-xs-12
                // /.box-body
                // /.box
                .box
                    .box-body
                        table#example1.table.table-bordered.table-striped
                            thead
                                tr
                                    th No
                                    th Kode Mata Pelajaran
                                    th Nama Pelajaran
                                    th Nama Guru
                                    if (session_store.admin == true)
                                        th Action
                            tbody
                                for mata_pelajaran, index in mata_pelajarans
                                    tr
                                        td #{index+1}
                                        td #{mata_pelajaran.kode_pelajaran}
                                        td #{mata_pelajaran.nama_pelajaran}
                                        td #{mata_pelajaran.nama_guru}
                                        td
                                            if (session_store.admin == true)
                                                div(style="display:inline-block;margin-right:10px;")
                                                    a(href=mata_pelajaran._id+'/editmata_pelajaran').btn.btn-success
                                                        i.glyphicon.glyphicon-pencil
                                                div(style="display:inline-block")
                                                    form(method="POST", action='/' + mata_pelajaran._id + '/deletemata_pelajaran')
                                                        input(type="hidden", name="_method", value="DELETE")
                                                        button(type="submit").btn.btn-danger
                                                            i.glyphicon.glyphicon-trash
                    // /.box-body
                // /.box
            // /.col
